apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: urban-company
  labels:
    app: api-gateway
    tier: infrastructure
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  sessionAffinity: ClientIP
