apiVersion: v1
kind: Service
metadata:
  name: booking-service
  namespace: urban-company
  labels:
    app: booking-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: booking-service
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
