apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: urban-company
  labels:
    app: catalog-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: catalog-service
  ports:
  - port: 8085
    targetPort: 8085
    protocol: TCP
    name: http
