apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  namespace: urban-company
  labels:
    app: discovery-service
    tier: infrastructure
spec:
  type: ClusterIP
  selector:
    app: discovery-service
  ports:
  - port: 8761
    targetPort: 8761
    protocol: TCP
    name: http
  sessionAffinity: ClientIP
