apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: urban-company
  labels:
    app: kafka
    tier: messaging
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka
