apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: urban-company
  labels:
    app: payment-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: payment-service
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
